.hpc-container {
  background-repeat: no-repeat;
  background-color: #242424;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hpc-container img {
  width: 100%;
  height: 60vh;
}

.hpc-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hpc-container > h2 {
  color: #fff;
  font-size: 50px;
  margin-top: -1px;
  padding-top: 25px;
}

.hpc-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hpc-btns {
  margin-top: 32px;
}

.hpc-btns .btn {
  margin: 6px;
}

@media screen and (max-width: 960px) {
  .hpc-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }

  .hpc-container > h2 {
    font-size: 30px;
    margin-top: -1px;
  }
}

@media screen and (max-width: 768px) {
  .hpc-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hpc-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
